@model CitiesViewModel
@{
    ViewData["Title"] = "City Index";
}

<h4>View Cities</h4>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create">Create</a>

    <form asp-action="Index" method="post">
        <label asp-for="FilterText"></label>
        <input asp-for="FilterText" />
    </form>

    @foreach (var item in Model.CityList)
    {
        <div class="row">
            <div class="col-sm">
                @item.Name
            </div>
            <div class="col-sm">
                @item.Country.Name
            </div>
            <div class="col-sm">
                <select>
                    @foreach (Person person in item.PeopleInCity)
                    {
                        <option>@person.Name</option>
                    }
                </select>
            </div>
            <div class="col-sm">
                @Html.ActionLink("Delete", "Remove", "City", new { id = item.CityId }, null)
            </div>
            <div class="col-sm">
                @Html.ActionLink("Edit", "Edit", "City", new { id = item.CityId }, null)
            </div>
        </div>
    }
}
