@model PeopleViewModel
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create">Create</a>

<form asp-action="Index" method="post">
    <label asp-for="FilterText"></label>
    <input asp-for="FilterText" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>PhoneNumber</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Phone</td>
                <td>@item.City</td>
                <td> @Html.ActionLink("Delete", "Remove", "People", @item.Id, new { @class = "actionLink" })  </td>
                
            </tr>
        }
    </tbody>
</table>