@model ASP_MCV_DataAssignments.Models.Person


<div class="row">
    <div class="col-sm">
        @Html.DisplayFor(model => model.Id)
    </div>
    <div class="col-sm">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="col-sm">
        @Html.DisplayFor(model => model.Phone)
    </div>
    <div class="col-sm">
        @Html.DisplayFor(model => model.City)
    </div>
    <div class="col-sm">     
        @Html.ActionLink("Delete", "Remove", "People", new { Model.Id }, null)
    </div>
</div>


        

